<footer class="footer">
    <div class="content has-text-centered">
      <p class="footer-link-color">
        &copy; 2019 <strong class="footer-link-color">unBadge</strong> by <a href="https://nicksdesk.com">Nick Gerancher</a>.
      </p>
      <p class="footer-slogan footer-link-color">
        Simply built for schools.
      </p>
      <div>
          <a class="footer-link footer-link-color" routerLink="">Learn More </a>
          <a class="footer-link footer-link-color" routerLink="about">About Us </a>
          <a class="footer-link footer-link-color" routerLink="">Get Started </a>
      </div>
    </div>
</footer>