@import 'bulma';
@import '~bulma-pricingtable';

.top-container {
    margin-top: 25px;
}

.bottom-container {
    margin-bottom: 20px;
}

.content-spaced {
    margin-left: 10px;
}

.box-icon {
    font-size: 50px; 
    margin-top: 10px;
}