<div class="container">
    <div class="box top-container">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <i class="fas fa-money-check-alt box-icon"></i>
                </figure>
            </div>
            <div class="media-content content-spaced">
                <div class="columns is-centered">
                    <div class="column">
                        <h1 class="title">unBadge Pricing</h1>
                        <h2 class="subtitle">Below you may choose the plan that is right for you!</h2>
                        <hr />
                        <p>
                            Our plan prices includes many different features including the ability to setup student games, simulations,
                            and task awards. Using unBadage gives your students the ability to do their school work and learn in a virtual
                            environment. unBadge will also award students not only teacher built and community built badges, but also a 
                            virtual currency where students can spend and invest it in different online objects like houses, apartments,
                            stores, food and more!
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="pricing-table bottom-container">
        <div class="pricing-plan">
            <div class="plan-header">Starter</div>
            <div class="plan-price">
                <span class="plan-price-amount">
                    <span class="plan-price-currency">$</span>
                    5
                </span>
                /month
            </div>
            <div class="plan-items">
                <div class="plan-item">
                    25 Students Max
                </div>
                <div class="plan-item">
                    1 Co-teacher
                </div>
                <div class="plan-item">
                    -
                </div>
                <div class="plan-item">
                    -
                </div>
                <div class="plan-item">
                    -
                </div>
            </div>
            <div class="plan-footer">
                <button class="button is-fullwidth" disabled>Current Plan</button>
            </div>
        </div>

        <div class="pricing-plan is-warning">
            <div class="plan-header">Class</div>
            <div class="plan-price">
                <span class="plan-price-amount">
                    <span class="plan-price-currency">$</span>
                    15
                </span>
                /month
            </div>
            <div class="plan-items">
                <div class="plan-item">
                    50 Students Max
                </div>
                <div class="plan-item">
                    3 Co-teachers
                </div>
                <div class="plan-item">
                    Google Classroom Integration
                </div>
                <div class="plan-item">
                    -
                </div>
                <div class="plan-item">
                    -
                </div>
            </div>
            <div class="plan-footer">
                <button class="button is-fullwidth">Purchase</button>
            </div>
        </div>

        <div class="pricing-plan is-active">
            <div class="plan-header">Multi-Class</div>
            <div class="plan-price">
                <span class="plan-price-amount">
                    <span class="plan-price-currency">$</span>
                    50
                </span>
                /month
            </div>
            <div class="plan-items">
                <div class="plan-item">
                    200 Students Max
                </div>
                <div class="plan-item">
                    10 Co-teachers
                </div>
                <div class="plan-item">
                    Google Classroom Integration
                </div>
                <div class="plan-item">
                    Dropbox Integration
                </div>
                <div class="plan-item">
                    Student Gamification
                </div>
            </div>
            <div class="plan-footer">
                <button class="button is-fullwidth">Purchase</button>
            </div>
        </div>

        <div class="pricing-plan is-danger">
            <div class="plan-header">Custom Plan</div>
            <div class="plan-price">
                <span class="plan-price-amount">
                    <span class="plan-price-currency">$</span>
                    *
                </span>
                /month
            </div>
            <div class="plan-items">
                <div class="plan-item">
                    (Custom Amount) Students Max
                </div>
                <div class="plan-item">
                    (Custom Amount) Co-teachers
                </div>
                <div class="plan-item">
                    Google Classroom Integration
                </div>
                <div class="plan-item">
                    Dropbox Integration
                </div>
                <div class="plan-item">
                    Student Gamification
                </div>
            </div>
            <div class="plan-footer">
                <button class="button is-fullwidth">Purchase</button>
            </div>
        </div>
    </div>
</div>