<div class="container">
    <section class="hero is-large">
        <div class="columns">
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-content">
                        <p class="title">Teacher Dashboard</p>
                        <p class="subtitle">Continue to the dashboard...</p>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <button class="button is-link is-outlined">Back</button>
                        </p>
                        <p class="card-footer-item">
                            <button class="button is-success is-outlined">Continue</button>
                        </p>                   
                    </footer>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-content">
                        <p class="title">Student Dashboard</p>
                        <p class="subtitle">Continue to the dashboard...</p>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <span>
                                <button class="button is-link is-outlined">Back</button>
                            </span>
                        </p>
                        <p class="card-footer-item">
                            <span>
                                <button class="button is-success is-outlined">Continue</button>
                            </span>
                        </p>                   
                    </footer>
                </div>
            </div>
        </div>
    </section>
</div>