@import url('https://fonts.googleapis.com/css?family=Farro&display=swap');

.body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
.unbadge-link {
    color: white;
    font-weight: bold;
    font-style: italic;
}

.unbadge-link:hover {
    color: black;
    text-decoration: overline;
}

.content {
    flex: 1;
}